<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SecurityUrl</filter-name>
        <filter-class>filter.SecurityUrl</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityUrl</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controllers.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>controllers.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>controllers.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controllers.customer.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetPasswordServlet</servlet-name>
        <servlet-class>controllers.customer.SetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTripServlet</servlet-name>
        <servlet-class>controllers.SearchTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeSeatServlet</servlet-name>
        <servlet-class>controllers.TakeSeatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controllers.customer.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordProfileServlet</servlet-name>
        <servlet-class>controllers.customer.ChangePasswordProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileVerifyCodeServlet</servlet-name>
        <servlet-class>controllers.customer.EditProfileVerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>controllers.UploadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileUploadImageServlet</servlet-name>
        <servlet-class>controllers.customer.EditProfileUploadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBookingServlet</servlet-name>
        <servlet-class>controllers.customer.InsertBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketPurchaseListServlet</servlet-name>
        <servlet-class>controllers.customer.TicketPurchaseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelTicketPurchaseServlet</servlet-name>
        <servlet-class>controllers.customer.CancelTicketPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayTicketPurchaseServlet</servlet-name>
        <servlet-class>controllers.customer.PayTicketPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTicketPurchasedServlet</servlet-name>
        <servlet-class>controllers.customer.ShowTicketPurchasedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketPurchaseListAjax</servlet-name>
        <servlet-class>controllers.customer.TicketPurchaseListAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryPurchaseListServlet</servlet-name>
        <servlet-class>controllers.customer.HistoryPurchaseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfServlet</servlet-name>
        <servlet-class>controllers.PdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookedCustomer</servlet-name>
        <servlet-class>controllers.employee.ShowBookedCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookedCustomerPaginationServlet</servlet-name>
        <servlet-class>controllers.ShowBookedCustomerPaginationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookedCustomerAjax</servlet-name>
        <servlet-class>controllers.employee.ShowBookedCustomerAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookedCustomerCancelServlet</servlet-name>
        <servlet-class>controllers.employee.ShowBookedCustomerCancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookedCustomerConfirmServlet</servlet-name>
        <servlet-class>controllers.employee.ShowBookedCustomerConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerBookingConfirmServlet</servlet-name>
        <servlet-class>controllers.CustomerBookingConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingForCustomerServlet</servlet-name>
        <servlet-class>controllers.employee.BookingForCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerBookingConfirmAjax</servlet-name>
        <servlet-class>controllers.CustomerBookingConfirmAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterForCustomerServlet</servlet-name>
        <servlet-class>controllers.employee.RegisterForCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomePageServlet</servlet-name>
        <servlet-class>controllers.admin.AdminHomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEmployeeTablesServlet</servlet-name>
        <servlet-class>controllers.admin.AdminEmployeeTablesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEmployeeTablesAjax</servlet-name>
        <servlet-class>controllers.admin.AdminEmployeeTablesAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEnableEmployeeServlet</servlet-name>
        <servlet-class>controllers.admin.AdminEnableEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDisableEmployeeServlet</servlet-name>
        <servlet-class>controllers.admin.AdminDisableEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditEmployeeServlet</servlet-name>
        <servlet-class>controllers.admin.AdminEditEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterEmployeeServlet</servlet-name>
        <servlet-class>controllers.admin.AdminRegisterEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTripExploitedTablesServlet</servlet-name>
        <servlet-class>controllers.admin.AdminTripExploitedTablesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelTicketPaidCustomerServlet</servlet-name>
        <servlet-class>controllers.customer.CancelTicketPaidCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteTripServlet</servlet-name>
        <servlet-class>controllers.admin.AdminDeleteTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRefundingServlet</servlet-name>
        <servlet-class>controllers.employee.ListRefundingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminTripTablesServlet</servlet-name>
        <servlet-class>controllers.admin.AdminTripTablesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBookingDetailTablesServlet</servlet-name>
        <servlet-class>controllers.admin.AdminBookingDetailTablesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGenerateTicketServlet</servlet-name>
        <servlet-class>controllers.admin.AdminGenerateTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddTripServlet</servlet-name>
        <servlet-class>controllers.admin.AdminAddTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeRefundCustomerServlet</servlet-name>
        <servlet-class>controllers.employee.EmployeeRefundCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeCancelTicketRefunding</servlet-name>
        <servlet-class>controllers.employee.EmployeeCancelTicketRefunding</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <servlet-class>com.paypal.AuthorizePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <servlet-class>com.paypal.ReviewPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <servlet-class>com.paypal.ExecutePaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetPasswordServlet</servlet-name>
        <url-pattern>/SetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTripServlet</servlet-name>
        <url-pattern>/SearchTripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeSeatServlet</servlet-name>
        <url-pattern>/TakeSeatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordProfileServlet</servlet-name>
        <url-pattern>/ChangePasswordProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileVerifyCodeServlet</servlet-name>
        <url-pattern>/EditProfileVerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/UploadImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileUploadImageServlet</servlet-name>
        <url-pattern>/EditProfileUploadImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBookingServlet</servlet-name>
        <url-pattern>/InsertBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketPurchaseListServlet</servlet-name>
        <url-pattern>/TicketPurchaseListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelTicketPurchaseServlet</servlet-name>
        <url-pattern>/CancelTicketPurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayTicketPurchaseServlet</servlet-name>
        <url-pattern>/PayTicketPurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTicketPurchasedServlet</servlet-name>
        <url-pattern>/ShowTicketPurchasedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketPurchaseListAjax</servlet-name>
        <url-pattern>/TicketPurchaseListAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryPurchaseListServlet</servlet-name>
        <url-pattern>/HistoryPurchaseListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfServlet</servlet-name>
        <url-pattern>/PdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookedCustomer</servlet-name>
        <url-pattern>/ShowBookedCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookedCustomerPaginationServlet</servlet-name>
        <url-pattern>/ShowBookedCustomerPaginationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookedCustomerAjax</servlet-name>
        <url-pattern>/ShowBookedCustomerAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookedCustomerCancelServlet</servlet-name>
        <url-pattern>/ShowBookedCustomerCancelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookedCustomerConfirmServlet</servlet-name>
        <url-pattern>/ShowBookedCustomerConfirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBookingConfirmServlet</servlet-name>
        <url-pattern>/CustomerBookingConfirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingForCustomerServlet</servlet-name>
        <url-pattern>/BookingForCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBookingConfirmAjax</servlet-name>
        <url-pattern>/CustomerBookingConfirmAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterForCustomerServlet</servlet-name>
        <url-pattern>/RegisterForCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomePageServlet</servlet-name>
        <url-pattern>/AdminHomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEmployeeTablesServlet</servlet-name>
        <url-pattern>/AdminEmployeeTablesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEmployeeTablesAjax</servlet-name>
        <url-pattern>/AdminEmployeeTablesAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEnableEmployeeServlet</servlet-name>
        <url-pattern>/AdminEnableEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDisableEmployeeServlet</servlet-name>
        <url-pattern>/AdminDisableEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditEmployeeServlet</servlet-name>
        <url-pattern>/AdminEditEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterEmployeeServlet</servlet-name>
        <url-pattern>/AdminRegisterEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTripExploitedTablesServlet</servlet-name>
        <url-pattern>/AdminTripExploitedTablesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelTicketPaidCustomerServlet</servlet-name>
        <url-pattern>/CancelTicketPaidCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteTripServlet</servlet-name>
        <url-pattern>/AdminDeleteTripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRefundingServlet</servlet-name>
        <url-pattern>/ListRefundingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminTripTablesServlet</servlet-name>
        <url-pattern>/AdminTripTablesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBookingDetailTablesServlet</servlet-name>
        <url-pattern>/AdminBookingDetailTablesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGenerateTicketServlet</servlet-name>
        <url-pattern>/AdminGenerateTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddTripServlet</servlet-name>
        <url-pattern>/AdminAddTripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeRefundCustomerServlet</servlet-name>
        <url-pattern>/EmployeeRefundCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeCancelTicketRefunding</servlet-name>
        <url-pattern>/EmployeeCancelTicketRefunding</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <url-pattern>/authorize_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <url-pattern>/review_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <url-pattern>/execute_payment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
<!--    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPage404.jsp</location>
    </error-page>-->
<!--    <error-page>
        <error-code>400</error-code>
        <location>/ErrorPage404.jsp</location>
    </error-page>-->
    <!--    <error-page>
        <error-code>500</error-code>
        <location>/ErrorPage500.jsp</location>
    </error-page>-->
</web-app>
